.Edit_event_title {
    font-family: 'Neucha', cursive;
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
    margin: 30px 15px;
}

.Edit_event_form_name, .Edit_event_form_description,
.Edit_event_form_time, .Edit_event_form_location,
.Edit_event_form_other {
    margin-left: 15px;
}

.Edit_event_name_label, #Edit_event_name,
.Edit_event_description_label, #Edit_event_description,
.Edit_event_time_label, #Edit_event_time,
.Edit_event_location_label, #Edit_event_location,
.Edit_event_other_label, #Edit_event_other {
    display: block;
}

.Edit_event_name_label, .Edit_event_description_label,
.Edit_event_time_label, .Edit_event_location_label,
.Edit_event_other_label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

#Edit_event_name, #Edit_event_description,
#Edit_event_time, #Edit_event_location,
#Edit_event_other {
    margin-bottom: 10px;
    border-radius: 3px;
    padding-left: 5px;
}

#Edit_event_name, #Edit_event_location {
    height: 25px;
}

#Edit_event_description, #Edit_event_other {
    padding-top: 3px;
    padding-bottom: 3px;
}

.Edit_event_update, .Edit_event_cancel {
    margin-top: 15px;
    color: #023570;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
    background-color: #fcdf60;
    letter-spacing: 0.5px;
    display: inline-block;
}

.Edit_event_update:hover, .Edit_event_cancel:hover {
    cursor: pointer;
    background-color: #fdd524;
}

.Edit_event_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Edit_event_flex_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (min-width: 550px) {
    .Edit_event_title {
        font-size: 50px;
    }

    .Edit_event_name_label, .Edit_event_description_label,
    .Edit_event_time_label, .Edit_event_location_label,
    .Edit_event_other_label {
        font-size: 18px;
    }

    #Edit_event_name, #Edit_event_location {
        height: 27px;
        width: 300px;
    }

    #Edit_event_description, #Edit_event_other {
        width: 350px;
    }

    #Edit_event_name, #Edit_event_description,
    #Edit_event_time, #Edit_event_location,
    #Edit_event_other {
        font-size: 15px;
    }

    #Edit_event_time {
        height: 27px;
    }

    .Edit_event_buttons {
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 850px) {
    .Edit_event_title {
        font-size: 60px;
    }

    .Edit_event_name_label, .Edit_event_description_label,
    .Edit_event_time_label, .Edit_event_location_label,
    .Edit_event_other_label {
        font-size: 20px;
    }

    #Edit_event_name, #Edit_event_location {
        height: 30px;
        width: 400px;
    }

    #Edit_event_description, #Edit_event_other {
        width: 450px;
    }

    #Edit_event_time {
        height: 30px;
    }

    #Edit_event_name, #Edit_event_description,
    #Edit_event_time, #Edit_event_location,
    #Edit_event_other {
        margin-bottom: 20px;
        font-size: 17px;
    }

    .Edit_event_update, .Edit_event_cancel {
        font-size: 20px;
        padding: 10px 20px;
    }

    .Edit_event_update {
        margin-right: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .Edit_event_title {
        font-size: 65px;
    }

    .Edit_event_name_label, .Edit_event_description_label,
    .Edit_event_time_label, .Edit_event_location_label,
    .Edit_event_other_label {
        font-size: 22px;
    }

    #Edit_event_name, #Edit_event_location {
        height: 32px;
        width: 450px;
    }

    #Edit_event_description, #Edit_event_other {
        width: 500px;
    }

    #Edit_event_time {
        height: 32px;
    }

    #Edit_event_name, #Edit_event_description,
    #Edit_event_time, #Edit_event_location,
    #Edit_event_other {
        margin-bottom: 25px;
        font-size: 18px;
    }

    .Edit_event_update, .Edit_event_cancel {
        font-size: 22px;
        padding: 12px 24px;
    }
}