.Create_calendar_title {
    font-size: 36px;
    text-align: center;
}

.Create_calendar_label, #Create_calendar_name {
    display: block;
}

.Create_calendar_label {
    margin-bottom: 5px;
}

#Create_calendar_name {
    margin-bottom: 10px;
}

.Create_calendar_submit {
    margin-right: 8px;
}

.Create_calendar_form {
    margin-left: 15px;
}