.hide {
    display: none;
}

.display {
    display: block;
}

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6)
}

.Modal_section {
    position: fixed;
    background: #f1f1f1;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Events_for_this_day, .Create_event_link {
    display: block;
}

.Events_for_this_day {
    margin: 30px 15px 15px;
}

/* .Events_for_this_day_link:hover, .close_window_icon:hover, .Create_event_icon:hover {
    color: #fdd524;
} */

.Create_event_link {
    text-align: center;
    margin: 25px 0 15px;
}

.Create_event_icon {
    font-size: 30px;
}

.hide_modal_button {
    visibility: hidden;
    position: absolute;
    right: 1%;
    top: 2%;
}

.hide_modal_button:hover {
    cursor: pointer;
}

.close_window_icon {
    visibility: visible;
    color: #023570;
    font-size: 20px;
}