.Login_form_user_name, .Login_form_password, .Login_button {
    display: block;
}

.Login_flex_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Login {
    padding: 20px;
    background-color: #71b6d1;
    border-bottom: 3px solid #fdd524;
}

.Login_form_user_name, .Login_form_password {
    margin-bottom: 8px;
}

.Login_label_user_name, .Login_label_password {
    font-size: 16px;
    font-weight: 600;
}

.Login_label_password {
    margin-right: 18px;
}

#Login_password, #Login_user_name {
    height: 25px;
    padding-left: 5px;
    border-radius: 3px;
}

label {
    margin-right: 5px;
}

.Login_button {
    margin-top: 5px;
    color: #023570;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
    background-color: #fcdf60;
    letter-spacing: 0.5px;
}

.Login_button:hover {
    cursor: pointer;
    background-color: #fdd524;
}

@media screen and (min-width: 630px) {
    .Login_flex_container {
        flex-direction: row;
        justify-content: center;
    }

    .Login_form_password {
        margin-right: 25px;
    }

    .Login_label_user_name, .Login_label_password,
    #Login_password, #Login_user_name {
        display: block;
    }

    .Login_form_user_name {
        margin-right: 15px;
    }
}

@media screen and (min-width: 1000px) {
    #Login_password, #Login_user_name {
        width: 200px;
    }
}