.day_date_column {
    display: inline-block;
    width: calc(100% / 7);
    text-align: center;
    border: 1px solid black;
    height: 0;
    padding-bottom: calc(100% / 7);
}

.faded {
    color: lightgray;
}

.selected {
    background-color: lightblue;
}