.Calendar_name {
    font-family: 'Neucha', cursive;
    font-size: 45px;
    letter-spacing: 3px;
    margin: 20px 15px;
    text-align: center;
}

.Calendar_edit_icon {
    margin-left: 15px;
    font-size: 25px;
}

.Calendar_delete_icon {
    font-size: 25px;
    margin-right: 15px;
}

.Calendar_icon_section {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Calendar_delete_button a:hover {
    color: red;
}

.Calendar_edit_button a:hover {
    color: #fdd524;
}

.Tooltip_edit, .Tooltip_delete {
    position: relative;
}

.Tooltip_edit_text {
    visibility: hidden;
    width: 120px;
    font-size: 14px;
    background-color: #023570;
    color: #fdd524;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 115%;
}

.Tooltip_edit:hover .Tooltip_edit_text {
    visibility: visible;
}

.Tooltip_delete_text {
    visibility: hidden;
    width: 140px;
    font-size: 14px;
    background-color: #023570;
    color: #fdd524;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 10%;
    right: 120%;
}

.Tooltip_delete:hover .Tooltip_delete_text {
    visibility: visible;
}

.Tooltip_edit_text::after {
    content: "";
    position: absolute;
    top: 35%;
    right: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #023570 transparent transparent;
}

.Tooltip_delete_text::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #023570;
}