.day_date_column {
    display: inline-block;
    width: calc(100% / 7);
    text-align: center;
    border: 1px solid black;
    height: 0;
    padding-bottom: calc(100% / 7);
    position: relative;
}

.faded {
    color: lightgray;
}

.highlighted {
    background-color: lightblue;
}

.Event_alert {
    position: absolute;
    font-size: 10px;
    bottom: 3px;
    left: 5px;
}