.day_date_column {
    display: inline-block;
    width: calc(100% / 7.001);
    text-align: center;
    border-right: 1px solid #023570;
    border-bottom: 1px solid #023570;
    height: 0;
    padding-bottom: calc(100% / 7);
    position: relative;
    font-weight: 500;
}

.day_date_column:hover {
    cursor: pointer;
    background-color: #fdd524;
}

.faded {
    color: #979696;
}

.highlighted {
    background-color: #71b6d1;
}

.Event_alert {
    position: absolute;
    font-size: 11px;
    bottom: 5%;
    left: 45%;
    color: red;
}

@media screen and (min-width: 550px) {
    .day_date_column {
        font-size: 20px;
    }

    .Event_alert {
        font-size: 14px;
        font-weight: 600;
    }
}

@media screen and (min-width: 850px) {
    .day_date_column {
        font-size: 24px;
    }

    .Event_alert {
        font-size: 16px;
        font-weight: 700;
    }
}

@media screen and (min-width: 1200px) {
    .day_date_column {
        font-size: 32px;
    }

    .Event_alert {
        font-size: 20px;
    }
}