.Header_logged_in {
    background-color: #71b6d1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #fdd524;
}

.Header_logged_in a:hover {
    color: #fdd524;
}

a:link, a:visited {
    text-decoration: none;
    color: #023570;
    font-size: 18px;
    font-weight: 500;
}

.Calendar_icon_header {
    font-size: 35px;
    margin-left: 15px;
}

.LogOut_link {
    margin-right: 15px;
}

@media screen and (min-width: 450px) {
    .Calendar_icon_header {
        margin-left: 25px;
    }

    .LogOut_link {
        margin-right: 25px;
    }
}

@media screen and (min-width: 650px) {
    .Calendar_icon_header {
        margin-left: 30px;
    }

    .LogOut_link {
        margin-right: 30px;
    }
}

@media screen and (min-width: 850px) {
    .Calendar_icon_header {
        margin-left: 35px;
    }

    .LogOut_link {
        margin-right: 35px;
    }
}

@media screen and (min-width: 1000px) {
    .Calendar_icon_header {
        font-size: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .Calendar_icon_header {
        font-size: 55px;
    }

    .Calendar_icon_header {
        margin-left: 40px;
    }

    .LogOut_link {
        margin-right: 40px;
    }
}