.Event_name {
    font-family: 'Neucha', cursive;
    font-size: 45px;
    letter-spacing: 3px;
    margin: 40px 15px 20px;
    text-align: center;
}

.Event_edit_icon {
    margin-left: 15px;
    font-size: 25px;
}

.Event_delete_icon {
    font-size: 25px;
    margin-right: 15px;
}

.Event_icon_section {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Event_delete_button a:hover {
    color: red;
}

.Event_edit_button a:hover {
    color: #fdd524;
}

.paragraph {
    margin: 0 15px 25px 15px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

.section_tag {
    text-align: center;
}

.section_tag {
    font-size: 30px;
    margin-bottom: 10px;
}

.Event_back_button {
    margin: 50px auto 60px;
    color: #023570;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
    background-color: #fcdf60;
    letter-spacing: 0.5px;
    display: block;
}

.Event_back_button:hover {
    cursor: pointer;
    background-color: #fdd524;
}

.Tooltip_edit_event_text {
    visibility: hidden;
    width: 100px;
    font-size: 14px;
    background-color: #023570;
    color: #fdd524;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 115%;
}

.Tooltip_edit:hover .Tooltip_edit_event_text {
    visibility: visible;
}

.Tooltip_delete_event_text {
    visibility: hidden;
    width: 120px;
    font-size: 14px;
    background-color: #023570;
    color: #fdd524;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 10%;
    right: 120%;
}

.Tooltip_delete:hover .Tooltip_delete_event_text {
    visibility: visible;
}

.Tooltip_edit_event_text::after {
    content: "";
    position: absolute;
    top: 35%;
    right: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #023570 transparent transparent;
}

.Tooltip_delete_event_text::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #023570;
}