.Event_name {
    font-size: 36px;
    text-align: center;
}

.section_tag, .section_time {
    text-align: center;
}

.section_description {
    margin: 0 15px 0 15px;
}

.location_description {
    text-align: center;
}

.Event_buttons {
    margin: 20px 0 25px 0;
    text-align: center;
}

.Event_edit_button {
    margin-right: 8px;
}